.Dictionary {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  color: #ff3366;
  margin-bottom: 30px;
}
form {
  margin-bottom: 30px;
}
.btn-primary {
  background-color: #ff3366;
  border-color: #ff3366;
}
