.Dictionary {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.Background {
  position: fixed;
  max-width: 620px;
  height: 1000px;
  margin: -10px;
  opacity: 0.1;
}

h1 {
  text-align: left;
  font-size: 50px;
  font-weight: 700;
  color: #ff3366;
  margin-bottom: 30px;
}
form {
  margin-bottom: 30px;
}
.btn-primary {
  background-color: #ff3366;
  border-color: #ff3366;
}
section {
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.Videos {
  padding-left: 10px;
  padding-top: -10px;
  border-radius: 8px;
}
